.login_section {
    width: 100%;
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.loginCard_container {
    width: 100%;
    height: 37vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #15151c;
    background: linear-gradient(90deg, rgb(0, 4, 7) 0%, rgba(8, 1, 1, 1) 40%, rgba(0, 0, 0, 1) 100%);
    border-radius: 2rem;
}

.loginImg {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 1rem;
}

.loginImg img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.login_card {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}