:root {
    --dot_color: #e61259;
    --car_badge: #e61259;
}

.fragnanceCard {
    width: 22vw;
    height: 25vw;
    background: #06061a;
background: linear-gradient(90deg, rgba(6, 6, 26, 1) 0%, rgba(8, 1, 1, 1) 40%, rgba(0, 0, 0, 1) 100%);
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 1px white;
}

.fragnance_category {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.circle {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--dot_color);
}

.frag_cat {
    padding: 0.15rem 0.55rem;
    background-color: var(--car_badge);
    border-radius: 1rem;
}

.frag_bottle {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frag_bottle img {
    width: 55%;
}

.frag_detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.frag_detail h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

.frag_detail p {
    font-size: 0.75rem;
    font-weight: 300;
}

.frag_price {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 0.25rem;
}

p.new_frag_price {
    font-size: 1.5rem;
    color: white;
}

p.old_frag_price {
    font-size: 1rem;
    color: rgb(148, 148, 148);
    text-decoration: line-through;
}

.frag_actions {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

button.addToCart {
    width: 80%;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border: none;
    outline: none;
    font-weight: 700;
}

.wishlist_btn {
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
}