/* =========================
   REVIEW CARD
========================= */

.review_card {
    width: 100%;
     min-width: 380px; 
    background: hsl(0, 0%, 9%);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

/* Reviewer info */
.reviewer_container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

/* Profile image */
.profile_img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Reviewer details */
.reviewer_details {
    display: flex;
    flex-direction: column;
}

.reviewer_details h2 {
    font-weight: 500;
    font-size: 1rem;
}

.reviewer_details p {
    font-size: 0.85rem;
    color: hsl(0, 0%, 72%);
    margin-top: 0.2rem;
}

/* Review text */
.review_text {
    font-size: 0.95rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: rgb(180, 180, 180);
}



/* =========================
   MOBILE DEVICES
========================= */
@media (max-width: 480px) {
    .review_card {
        width: 100%;
        min-height: 50vw;
        padding: 1.5rem;
        /* border: 1px solid red; */
    }

    .reviewer_container {
        gap: 1rem;
    }

    .profile_img {
        width: 40px;
        height: 40px;
    }

    .review_text {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
}



/* =========================
   TABLETS
========================= */
@media (max-width: 768px) {
    .review_card {
        width: 80%;
    }
}



/* =========================
   SMALL LAPTOPS
========================= */
@media (max-width: 1024px) {
    .review_card {
        width: 45%;
    }
}
