.wishlist_container {
    width: 100%;
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wishlist_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.wishlist_head h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
    margin-top: 1.5rem;
}

.wishlist_head p {
    font-size: 1rem;
    color: #dedede;
    line-height: 1.5;
    margin-top: 1rem;
}


.lux-line-blue{
  width: 220px;
  height: 3px;
  margin: 5px auto;
  background: linear-gradient(
    to right,
    transparent,
    #02348b,
    transparent
  );
  /* box-shadow: 0 0 6px rgba(255,255,255,0.4); */
}


.wishlist_actions{
    display: flex;
    align-items: center;
    gap: 2rem ;
    margin-top: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

button.to_cart{
    padding: 0.5rem 1rem ;
    background-color: white;
    color: black;

}

.remove_wishlist{
    padding: 0.5rem 1rem ;
    background-color: rgb(4, 31, 139);
    color: white;
}


.your_wishlist{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem 0.5rem;
}

.your_wishlist_head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;

}

.your_wishlist_head h2{
    font-size: 2.5rem;
}

.your_wishlist_container{
    width: 100%;
    height: 50vb;
    background-color: #02348b;
    margin: 2rem 0;
}