.wishlist_container {
    width: 100%;
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wishlist_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.wishlist_head h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
    margin-top: 1.5rem;
}

.wishlist_head p {
    font-size: 1rem;
    color: #dedede;
    line-height: 1.5;
    margin-top: 1rem;
}


.lux-line-blue{
  width: 220px;
  height: 3px;
  margin: 5px auto;
  background: linear-gradient(
    to right,
    transparent,
    #02348b,
    transparent
  );
  /* box-shadow: 0 0 6px rgba(255,255,255,0.4); */
}


.wishlist_actions{
    display: flex;
    align-items: center;
    gap: 2rem ;
    margin-top: 3rem;
    padding: 1rem;
}

button.to_cart{
    padding: 0.5rem 1rem ;
    background-color: white;
    color: black;

}

.remove_wishlist{
    padding: 0.5rem 1rem ;
    background-color: rgb(139, 4, 4);
    color: white;
}