:root {
  --accent: #e0132e;
  --badge-bg: #ef4444;
}

.card {
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
}

.product {
    width: 35vw;
    border-top-left-radius: 1rem;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
    radial-gradient(circle at  bottom, rgba(255, 255, 255, 0.08), transparent),
    radial-gradient(circle at top left , var(--accent), #050509);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.85);
}
.product img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}

.product img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.product_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product_details h2 {
    font-size: 2rem;
    font-weight: 200;
}

.product_details p {
    text-align: left;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

.product_details .price {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.product_details .price p,
.product_details .price span {
    margin: 0;
}

.product_details .price p {
    font-size: 2rem;
    color: white;
}

.product_details .price span {
    font-size: 1rem;
    text-decoration: line-through;
    color: rgb(170, 170, 170);
}

.discount {
    margin: 0;
    background-color: rgb(205, 1, 1);
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select p {
    font-size: 1rem;
}

.cart_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
}

.add {
    background: white;
    color: black;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.add:hover {
    color: rgba(255, 255, 0, 0.647);
    border: 1px solid rgba(255, 217, 0, 0.408);
    background-color: transparent;
}

.learn {
    padding: 1rem 2rem;
    font-weight: 500;
    color: rgba(255, 255, 0, 0.441);
    border: 1px solid rgba(255, 217, 0, 0.408);
    background-color: transparent;
    border-radius: 5rem;
    transition: all 0.5s ease-in-out;
}

.learn:hover{
     background: white;
    color: black;
    border: none;
}

/* ######### Color Picker ######### */



.color_picker {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-bottom: 1.28rem;
  margin-top: 0.5rem;
 
}

.color-dot {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  border: 2px solid #fff;
  background-image: var(--swatch-img);
  background-size: cover;
  background-position: center;
}

.color-dot.active {
  transform: scale(1.1);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
  border: 1px solid white;
}