.faq{
    width: 100%;
    padding: 1rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.lux-line {
  width: 220px;
  height: 3px;
  margin: 5px auto;
  background: linear-gradient(
    to right,
    transparent,
    #d5d5d5,
    transparent
  );
  box-shadow: 0 0 6px rgba(255,255,255,0.4);
}

 
.logo_faq img{
    width: 12vw;
}

.faq_head{
    font-size: 1rem;
    color: rgb(164, 162, 162);
    margin-top: 1rem;
}

.faq_main{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.5rem;
}

.faq_main span{
    font-weight: 300;
    font-style: italic;
}
.faq_text{
    font-size: 1rem;
    color: rgb(164, 162, 162);
    text-align: center;
    margin-top: 0.5rem;
}

.questions{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.enquiry{
    margin-top: 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(22, 22, 22);
    border-radius: 1rem;
}

.more_ques{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.5rem;
    color: white;
}
.enquiry p{
    font-size: 1rem;
    color: rgb(215, 214, 214);
    text-align: center;
    margin: 0.5rem 0 2rem 0;
}

button.contact_support{
    padding: 0.7rem 2rem;
    font-size: 1rem;
    color: rgb(5, 7, 4);
    background: rgb(181, 177, 177);
    border: none;
    margin-bottom: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
}