.footer {
    /* background-color: #f8f9fa; */
    padding: 2rem 6rem;
    text-align: center;
    font-size: 14px;
    opacity: 1;
    filter: none;
    /* color: #6c757d; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}


.fogg_footer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}



.fotter_tagline {
    margin-top: 0.5rem;
    font-size: 12px;
    color: #6c757d;
    text-align: left;
}

.social_media {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    opacity: 1 !important;
    filter: none !important;
}

.social_media img {
    width: 2rem;
    opacity: 1 !important;
    filter: none !important;
}

.logo_anime {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* letter-spacing: 0.3rem; */
}

/* ##### FOOT NAV ##### */

.foot_nav{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.foot_nav h2{
    margin-bottom: 1rem;
    font-size: 1rem;
    color: rgb(142, 141, 141);
    font-weight: 500;
    text-transform: uppercase;
}

.foot_links{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    font-size: 0.75rem;
    color: #6c757d;
    text-transform: uppercase;
}


/* #### SUPPORT #### */
.foot_support{
     width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.foot_support h2{
       margin-bottom: 1rem;
    font-size: 1rem;
    color: rgb(142, 141, 141);
    font-weight: 500;
    text-transform: uppercase;
}

.support_links{
     display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    font-size: 0.75rem;
    color: #6c757d;
    text-transform: none;
}
.support_links p{
    cursor: pointer;
    font-size: 0.75rem;
    color: #6c757d;
}

/* #### OUR PERFUMES #### */
.foot_perfumes{
      width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.foot_perfumes h2{
     margin-bottom: 1rem;
    font-size: 1rem;
    color: rgb(142, 141, 141);
    font-weight: 500;
    text-transform: uppercase;
}

.perfume_links{
      display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    font-size: 0.75rem;
    color: #6c757d;
    text-transform: none;
}

.perfume_links p{
     cursor: pointer;
    font-size: 0.75rem;
    color: #6c757d;
}