.loginCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_head img{
    width: 15vw;
}

.login_head p {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-style: italic;
}

.login_inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    margin: 1rem 0;
}

.input_field{
    padding: 1rem;
    width: 80%;
    border: 1px solid white;
    border-radius: 3rem;
    margin-top: 1rem;
}

.login_remember{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
}

.remember{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.remember p{
    font-size: 0.75rem;
}
.forget p{
    font-size: 0.75rem;
    color: aliceblue;
}

button.login_btn{
    padding: 1rem;
    background: white;
    color: black;
    width: 100%;
    border-radius: 2rem;
    margin-top: 2rem;
    font-weight: 700;
}