.about_story {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 6rem;
    margin-top: 2rem;
}

.about_story h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.lux-line-red {
    width: 220px;
    height: 3px;
    margin: 5px auto;
    background: linear-gradient(to right,
            transparent,
            #c40606,
            transparent);
    /* box-shadow: 0 0 6px rgba(255,255,255,0.4); */
}

.story_section {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}


.story_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.story_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fogg_data {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.data {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data p {
    font-size: 1rem;
    color: #bebdbd;
    text-transform: uppercase;
    text-align: center;
}

.story_image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story_img_container {
    width: 35vw;
    height: 25vw;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    gap: 1rem;
    transition: 0.5s all ease-in-out;
}

.story_img_container:hover {
    box-shadow: 0 0 15px #c3c3c3;
    transform: scale(1.05);
}

.story_img_container img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.story_img_container p {
    font-size: 0.85rem;
    line-height: 1.6;
    font-style: italic;
    color: #bebdbd;
}


/* Small devices */
@media (max-width: 480px) {
    .about_story {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;
        margin-top: 2rem;
        justify-content: center;
    }

    .about_story h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }


    .story_section {
        margin-top: 0rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
    }


    .story_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .story_text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }

    .lux-line-red {
        margin-bottom: 1rem;
    }

    .story_image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .story_img_container {
        width: 85vw;
        height: fit-content;
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem 0;
    }

    .story_img_container p {
        font-size: 0.85rem;
        line-height: 1.6;
        font-style: italic;
        color: #bebdbd;
        text-align: center;
    }
}

/* Tablets */
@media (max-width: 768px) {}

/* Small laptops */
@media (max-width: 1024px) {}