@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 4, 7);
    color: white;
}


body{
    overflow-x: hidden;
}