.collection-section {
    width: 100%;
    padding: 4rem 6rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection-section h1 {
    font-size: 3rem;
    font-weight: 300;
    color: white;
}

.collection-section p {
    font-size: 1rem;
    color: #ccc;
    margin-top: 1rem;
    text-align: center;
    max-width: 600px;
}
.card_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}